.type-of-course{
    max-width: 1440px;
    align-items: center;
}

.container-type-of-course{
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.73);
}

a:hover{
    transition: 1s;
    color:#F2F2F2;
}
