.education {
    max-width: 1440px;
    margin-bottom: 30px;
}

.heading-education {
    text-align: center;
    margin-bottom: 20px;
}

.more-education {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #3d3a5d;
    cursor: pointer;
    font-weight: 600;
}

.all-courses {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
    margin-top: 45px;
    margin-left: 20px;
}

.one-course {
    background-color: rgba(217, 217, 217, 1);
    height: 400px;
    padding: 32px 32px;
}

.header-of-card {
    color: rgba(61, 58, 93, 1);
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 650;
}

.type-education {
    margin-top: 24px;
    font-weight: 500;
}

.long-education, .needed-level, .price {
    margin-top: 12px;
    font-weight: 500;
}

.button-more-courses {
    width: 200px;
    height: 47px;
    background-color: rgba(61, 58, 93, 1);
    color: rgba(242, 242, 242, 1);
    margin-top: 18px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid rgba(61, 58, 93, 1);
    cursor: pointer;
}

.button-more-courses:hover {
    background-color: rgba(222, 38, 56, 0.87);
    border: none;
    transition: 1s;
}
