.slider {
    position: relative;
    max-width: 1440px; /* Ширина слайдера */
    height: 550px;
    overflow: hidden; /* Прячем выходящие за границы элементы */
    margin: 0 auto;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Плавная анимация */
}

.slide {
    flex: 0 0 100%; /* Каждая картинка занимает всю ширину контейнера */
    width: 100%;
    height: 750px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  color: #333;
}

.slider-btn.prev {
  left: 10px;
}

.slider-btn.next {
  right: 10px;
}